MONGO_URI=mongodb+srv://abuuu:abuuu00@abuuu.s1lirsp.mongodb.net/?appName=abuuu
PORT=3000
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=dpdldyjpq
CLOUDINARY_API_KEY=475948499473811
CLOUDINARY_API_SECRET=1ER3q8u1UP5jOIDIYrUUXj_f7Yw
SITE_URL=http://localhost:3000
